<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/slate/bootstrap.min.css">
</head>

<body>
  <div clas="container">
    <div class="jumbotron text-center">
      <h1>Latest Mars News</h1>
      <p>
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Mars Report</a>
      </p>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Latest Mars News</h2>
        <h3>{{ space.news_titles[0] }}</h3>
        <p>{{ space.news_teasers[0] }}</p>
        <br>
        <div class="container">
          <div class="card-body">
          <!-- <div class="col-md-8"> -->
            <h3 class="col-md-8">Featured Mars Image</h3>
              <img src={{ space.src }} alt="Mars Wow!">
          <!-- </div> -->
          <div class="container col-md-4 float-right">
            <h3>Current Weather on Mars</h3>
            <br>
              <p>{{ space.weather_report }}</p>
            <br> 
            <br>
            <h3>Mars Facts</h3>
            <br>
            {{ space.fact_table|safe }}
          </div>
          <div class="container col-md-12 float">
            <h2>Mars Hemispheres</h2>
            <br>
            {% for image in space.hemispheres %}
            <img src={{ image.image_url }} alt="it's a hemi" height="300" width="300">
            {% endfor %}

          </div>
          </div>
      </div>
      </div>
    </div>
  </div>

</body>

</html>